@model List<DiaryEntry>
@{
    ViewData["Title"] = "Diary Entries";
}

<div class="container">
    <div class="row py-4">
        <div class="col-12 text-center">
            <a class="btn btn-primary" asp-area="" asp-controller="DiaryEntries" asp-action="Create">
                Create new Diary Entry
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                    <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.18.18 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.18.18 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.18.18 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.18.18 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.18.18 0 0 0 .134-.098z" />
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="table-responsive table-bordered row">
    <table class="table col-md-9 border-2 border-black p-2 bg-black table-striped table-hover">
        <thead>
            <tr class="text-white">
                <th class="bg-primary">Title</th>
                <th class="bg-primary">Content</th>
                <th class="bg-primary">Date</th>
                <th class="bg-primary">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr class="text-dark">
                    <td>@entry.Title</td>
                    <td class="col-md-4" style="">@entry.Content</td>
                    <td>@entry.Created</td>
                    <td>
                        <a class="btn btn-primary">Edit or Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>